---
layout: default.hbs
title: <%= index.title %>
---
!-- === Arrows === -->
<div id="arrows">
    <div id="arrow-up" class="disabled"></div>
    <div id="arrow-down"></div>
    <div id="arrow-left" class="disabled visible-lg"></div>
    <div id="arrow-right" class="disabled visible-lg"></div>
</div><!-- /.arrows -->


<!-- === MAIN Background === -->
<div class="slide story" id="slide-1" data-slide="1"
  style="background-image: url('{{assets}}/images/{{index.slide1.background_image}}');">
    <div class="container">
        <div id="home-row-1" class="row clearfix">
            <div class="col-12">
                <h1 class="font-semibold">{{index.slide1.mainheading.part1}}<span class="font-thin">{{index.slide1.mainheading.part2}}</span></h1>
                <h4 class="font-thin">{{index.slide1.description.part1}}<span class="font-semibold">{{index.slide1.description.part2}}</span>{{index.slide1.description.part3}}</h4>
                <br>
                <br>
            </div><!-- /col-12 -->
        </div><!-- /row -->
        <div id="home-row-2" class="row clearfix">
            <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="{{index.slide1.keyword1.onclickslide}}"><img src="{{assets}}/images/{{index.slide1.keyword1.image}}"></div><span>{{index.slide1.keyword1.text}}</span></div>
            <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="{{index.slide1.keyword2.onclickslide}}"><img src="{{assets}}/images/{{index.slide1.keyword2.image}}"></div><span>{{index.slide1.keyword2.text}}</span></div>
            <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="{{index.slide1.keyword3.onclickslide}}"><img src="{{assets}}/images/{{index.slide1.keyword3.image}}"></div><span>{{index.slide1.keyword3.text}}</span></div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /slide1 -->

<!-- === Slide 2 === -->
<div class="slide story" id="slide-2" data-slide="2">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-thin">{{index.slide2.statement1.part1}}<span class="font-semibold">{{index.slide2.statement1.part2}}</span>{{index.slide2.statement1.part3}}</div>
        </div><!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div><!-- /row -->
        <div class="row subtitle-row">
            <div class="col-12 font-thin">{{index.slide2.statement2.part1}}<span class="font-semibold">{{index.slide2.statement2.part2}}</span></div>
        </div><!-- /row -->
        <div class="row content-row">
            <div class="col-12 col-lg-3 col-sm-6">
                <p><i class="icon {{index.slide2.item1.icon}}"></i></p>
                <h2 class="font-thin">{{index.slide2.item1.heading.part1}}<span class="font-semibold">{{index.slide2.item1.heading.part2}}</span></h2>
                <h4 class="font-thin">{{index.slide2.item1.description}}</h4>
            </div><!-- /col12 -->
            <div class="col-12 col-lg-3 col-sm-6">
                <p><i class="icon {{index.slide2.item2.icon}}"></i></p>
                <h2 class="font-thin">{{index.slide2.item2.heading.part1}}<span class="font-semibold">{{index.slide2.item2.heading.part2}}</span></h2>
                <h4 class="font-thin">{{index.slide2.item2.description}}</h4>
            </div><!-- /col12 -->
            <div class="col-12 col-lg-3 col-sm-6">
                <p><i class="icon {{index.slide2.item3.icon}}"></i></p>
                <h2 class="font-thin">{{index.slide2.item3.heading.part1}}<span class="font-semibold">{{index.slide2.item3.heading.part2}}</span></h2>
                <h4 class="font-thin">{{index.slide2.item3.description}}</h4>
            </div><!-- /col12 -->
            <div class="col-12 col-lg-3 col-sm-6">
                <p><i class="icon {{index.slide2.item4.icon}}"></i></p>
                <h2 class="font-thin">{{index.slide2.item4.heading.part1}}<span class="font-semibold">{{index.slide2.item4.heading.part2}}</span></h2>
                <h4 class="font-thin">{{index.slide2.item4.description}}</h4>
            </div><!-- /col12 -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /slide2 -->

<!-- === SLide 3 - Portfolio -->
<div class="slide story" id="slide-3" data-slide="3">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="{{assets}}/images/portfolio/{{index.slide3.image01.name}}-large.jpg"><img class="thumb" src="{{assets}}/images/portfolio/{{index.slide3.image01.name}}-small.jpg" alt="{{index.slide3.image01.alt}}"></a></div>
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="{{assets}}/images/portfolio/{{index.slide3.image02.name}}-large.jpg"><img class="thumb" src="{{assets}}/images/portfolio/{{index.slide3.image02.name}}-small.jpg" alt="{{index.slide3.image02.alt}}"></a></div>
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="{{assets}}/images/portfolio/{{index.slide3.image03.name}}-large.jpg"><img class="thumb" src="{{assets}}/images/portfolio/{{index.slide3.image03.name}}-small.jpg" alt="{{index.slide3.image03.alt}}"></a></div>
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="{{assets}}/images/portfolio/{{index.slide3.image04.name}}-large.jpg"><img class="thumb" src="{{assets}}/images/portfolio/{{index.slide3.image04.name}}-small.jpg" alt="{{index.slide3.image04.alt}}"></a></div>
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="{{assets}}/images/portfolio/{{index.slide3.image05.name}}-large.jpg"><img class="thumb" src="{{assets}}/images/portfolio/{{index.slide3.image05.name}}-small.jpg" alt="{{index.slide3.image05.alt}}"></a></div>
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="{{assets}}/images/portfolio/{{index.slide3.image06.name}}-large.jpg"><img class="thumb" src="{{assets}}/images/portfolio/{{index.slide3.image06.name}}-small.jpg" alt="{{index.slide3.image06.alt}}"></a></div>
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="{{assets}}/images/portfolio/{{index.slide3.image07.name}}-large.jpg"><img class="thumb" src="{{assets}}/images/portfolio/{{index.slide3.image07.name}}-small.jpg" alt="{{index.slide3.image07.alt}}"></a></div>
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="{{assets}}/images/portfolio/{{index.slide3.image08.name}}-large.jpg"><img class="thumb" src="{{assets}}/images/portfolio/{{index.slide3.image08.name}}-small.jpg" alt="{{index.slide3.image08.alt}}"></a></div>
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="{{assets}}/images/portfolio/{{index.slide3.image09.name}}-large.jpg"><img class="thumb" src="{{assets}}/images/portfolio/{{index.slide3.image09.name}}-small.jpg" alt="{{index.slide3.image09.alt}}"></a></div>
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="{{assets}}/images/portfolio/{{index.slide3.image10.name}}-large.jpg"><img class="thumb" src="{{assets}}/images/portfolio/{{index.slide3.image10.name}}-small.jpg" alt="{{index.slide3.image10.alt}}"></a></div>
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="{{assets}}/images/portfolio/{{index.slide3.image11.name}}-large.jpg"><img class="thumb" src="{{assets}}/images/portfolio/{{index.slide3.image11.name}}-small.jpg" alt="{{index.slide3.image11.alt}}"></a></div>
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="{{assets}}/images/portfolio/{{index.slide3.image12.name}}-large.jpg"><img class="thumb" src="{{assets}}/images/portfolio/{{index.slide3.image12.name}}-small.jpg" alt="{{index.slide3.image12.alt}}"></a></div>
    </div><!-- /row -->
</div><!-- /slide3 -->

<!-- === Slide 4 - Process === -->
<div class="slide story" id="slide-4" data-slide="4">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-thin">{{index.slide4.statement1.part1}}<span class="font-semibold">{{index.slide4.statement1.part2}}</span></div>
        </div><!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div><!-- /row -->
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-10 font-light">{{index.slide4.statement2}}</div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div><!-- /row -->
        <div class="row content-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-2">
                <p><i class="icon {{index.slide4.item1.icon}}"></i></p>
                <h2 class="font-thin">{{index.slide4.item1.heading.part1}}<br><span class="font-semibold" >{{index.slide4.item1.heading.part2}}</span></h2>
                <h4 class="font-thin">{{index.slide4.item1.description}}</h4>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2">
                <p><i class="icon {{index.slide4.item2.icon}}"></i></p>
                <h2 class="font-thin">{{index.slide4.item2.heading.part1}}<br><span class="font-semibold">{{index.slide4.item2.heading.part2}}</span></h2>
                <h4 class="font-thin">{{index.slide4.item2.description}}</h4>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2">
                <p><i class="icon {{index.slide4.item3.icon}}"></i></p>
                <h2 class="font-thin">{{index.slide4.item3.heading.part1}}<br><span class="font-semibold">{{index.slide4.item3.heading.part2}}</span></h2>
                <h4 class="font-thin">{{index.slide4.item3.description}}</h4>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2">
                <p><i class="icon {{index.slide4.item4.icon}}"></i></p>
                <h2 class="font-thin">{{index.slide4.item4.heading.part1}}<br><span class="font-semibold">{{index.slide4.item4.heading.part2}}</span></h2>
                <h4 class="font-thin">{{index.slide4.item4.description}}</h4>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2">
                <p><i class="icon {{index.slide4.item5.icon}}"></i></p>
                <h2 class="font-thin">{{index.slide4.item5.heading.part1}}<br><span class="font-semibold">{{index.slide4.item5.heading.part2}}</span></h2>
                <h4 class="font-thin">{{index.slide4.item5.description}}</h4>
            </div><!-- /col12 -->
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /slide4 -->

<!-- === Slide 5 === -->
<div class="slide story" id="slide-5" data-slide="5">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-thin">{{index.slide5.statement1.part1}}<span class="font-semibold">{{index.slide5.statement1.part2}}</span>{{index.slide5.statement1.part3}}</div>
        </div><!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div><!-- /row -->
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-10 font-light">{{index.slide5.statement2}}<br/><br/>{{index.slide5.statement3}}</div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div><!-- /row -->
        <div class="row content-row">
            <div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-2"><img src="{{assets}}/images/{{index.slide5.client01.image}}" alt="{{index.slide5.client01.alt}}"></div>
            <div class="col-12 col-sm-2"><img src="{{assets}}/images/{{index.slide5.client02.image}}" alt="{{index.slide5.client02.alt}}"></div>
            <div class="col-12 col-sm-2"><img src="{{assets}}/images/{{index.slide5.client03.image}}" alt="{{index.slide5.client03.alt}}"></div>
            <div class="col-12 col-sm-2"><img src="{{assets}}/images/{{index.slide5.client04.image}}" alt="{{index.slide5.client04.alt}}"></div>
            <div class="col-12 col-sm-2"><img src="{{assets}}/images/{{index.slide5.client05.image}}" alt="{{index.slide5.client05.alt}}"></div>
            <div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /slide5 -->

<!-- === Slide 6 / Contact === -->
<div class="slide story" id="slide-6" data-slide="6">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-light">{{index.slide6.statement1.part1}}<span class="font-semibold">{{index.slide6.statement1.part2}}</span></div>
        </div><!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div><!-- /row -->
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-10 font-light">{{index.slide6.statement2}}</div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div><!-- /row -->
        <div id="contact-row-4" class="row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="{{index.slide6.phone.link}}"><i class="icon {{index.slide6.phone.icon}}"></i></a></p>
                <span class="hover-text font-light ">{{index.slide6.phone.text}}</span></a>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="{{index.slide6.email.link}}"><i class="icon {{index.slide6.email.icon}}"></i></a></p>
                <span class="hover-text font-light ">{{index.slide6.email.text}}</span></a>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="{{index.slide6.address.link}}"><i class="icon {{index.slide6.address.icon}}"></i></a></p>
                <span class="hover-text font-light ">{{index.slide6.address.line1}}<br/>{{index.slide6.address.line2}}<br/>{{index.slide6.address.line3}}</span></a>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="{{index.slide6.facebook.link}}"><i class="icon {{index.slide6.facebook.icon}}"></i></a></p>
                <span class="hover-text font-light ">{{index.slide6.facebook.text}}</span></a>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="{{index.slide6.twitter.link}}"><i class="icon {{index.slide6.twitter.icon}}"></i></a></p>
                <span class="hover-text font-light ">{{index.slide6.twitter.text}}</span></a>
            </div><!-- /col12 -->
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /Slide 6 -->